*{
    margin: 0;
    padding: 0;
}


/**********************navigation*************/
body{
    background-color: black;
    color: white;
}



header::before{

    content: "";
    background: url("../1.jpg") no-repeat center center/cover ;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.5;

}

.nav{
    font-family: 'Barlow Condensed', sans-serif;
    opacity: 0.5;

}
.nav ul{
    display: flex;
    justify-content: flex-end;
    
    
}

.nav li{
    display: flex;
    align-items: center;
    justify-content: center;
    
    list-style: none;
}

.nav li a{
    color: white;
    text-decoration: none;
    padding: 16px 24px;
    margin: 1px 26px;
    font-size: 1.5rem;
}

.nav a:hover{
    background-color: rgb(0, 255, 30);
    color: black;
    border-radius: 25px;
}




/************************INTRO*******************************/

#intro{
    height: 100vh;
    width: 50%;
    /* border: 2px solid red; */
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 25px;
    opacity: 0.9;
    /* font-family: font-family:  'Indie Flower', cursive; */
}


.h{
    text-align: center;
    padding: 21px;
    font-size: 3.3rem;
    font-family:  'Indie Flower', cursive;

}

p{
    text-align: center;
    font-size: 3rem;
    font-family:  'Indie Flower', cursive;
}



/********************FORMS and button********************/

.form{
    margin: 20px;
    /* border: 2px solid red; */
    height: 400px;
    /* font-size: 1.2rem; */
    /* font-family: font-family:  'Indie Flower', cursive; */
    

    
}

.form-control{
    display: flex ;
    flex-direction: column;
    padding: 13px;
    
    
}

.form-control input{
    
    margin: 10px 1px;
    padding: 4px 62px;
    text-align: center;
    border-radius: 50px;
    font-size: 1.3rem;
    background-color: transparent;

}



.form-control input:hover{
    
    
    
    background-color: rgb(0, 255, 30);
    opacity: 0.5;
    border: 1px solid gray;
    box-shadow: 2px 3px ;
        
}




/*******************BUTTON*********************/


.btn {
    
    border-top: 1px solid #0040ff;
    background: #00128a;
    background: -webkit-gradient(linear, left top, left bottom, from(#00ff3c), to(#00128a));
    background: -webkit-linear-gradient(top, #00ff3c, #00128a);
    background: -moz-linear-gradient(top, #00ff3c, #00128a);
    background: -ms-linear-gradient(top, #00ff3c, #00128a);
    background: -o-linear-gradient(top, #00ff3c, #00128a);
    padding: 12.5px 25px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 26px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #ededed;
    font-size: 20px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    opacity: 0.7;
    }


 .btn:hover {
    border-top-color: #00f24d;
    background: #00f24d;
    color: #003b13;
    }



 .btn:active {
    border-top-color: #ff00ee;
    background: #ff00ee;
    }




    /* @media screen and (max-width:1000px){
        #intro .container{
            flex-direction: column;
        }
    } */